.wrapper{
    max-width: 960px;
    margin:0 auto;
}

.container{
    padding:20px;
}

h2{
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    padding: 10px;
    margin: 0;
}
main{
    width:100%;
    display: flex;
}

.itemsContainer{
    width:75%;
    display:flex;
    flex-wrap: wrap;
}

.classCalcContainer{
    width:25%;
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}
.card-container{
    width: calc(100% / 3 - 28px);
    height: auto;
    margin: 13px;
    border: 1px solid darkgrey;
    box-sizing: border-box;
    position: relative;
}
@media only screen and (max-width:991px) and (min-width:768px){
    .card-container{
        width:calc(100% / 2 - 28px);
    }   
}
@media only screen and (max-width:767px){
    .card-container{
        width:100%;
    }   
}

.cartItemsContainer{
    margin-bottom: 13px;
}

.AmountCalcContainer{
    border: 1px solid #f1f1f1;
    margin-top: 13px;
    display: none;
}

img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.image-container{
    height: 150px;
    overflow: hidden;
    padding: 10px 32px;
}
.productDetailsContainer{
    margin-top:10px;
    background-color: #f1f1f1;
    padding: 10px;
}
.detailsContainer{
    display: flex;
    justify-content: space-between;
}

.tableHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding:5px 0px;
}

.item-Card{
    display: flex;
    margin: 10px 0px;
    align-items: center;
}
.item-Container{
    display: flex;
    align-items: center;
    width: calc(50% - 10px);
    border: 1px solid #f1f1f1;
    padding: 0px 5px;

}

.IncDecContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.quantity{
    border: 1px solid #f1f1f1;
    width: 20px;
    height: 20px;
    text-align: center;
}
.img-Container{
    width:25px;
    height:25px;
    flex-shrink: 0;
}
.item-name{
    margin:0px 5px;
}

.no-items{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.controlPlusbtn{
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.controlMinusbtn{
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.controlMinusbtn:focus{
    outline:none;
}
.controlPlusbtn:focus{
    outline:none;
}
.amountContainer{
    display: flex;
    justify-content: space-between;
    padding:5px 0px;
}
.amountContainer :first-child{
    flex:2;
}
.amountContainer :nth-child(2){
    flex:1;
}
.amountContainer :nth-child(3){
    flex:1;
}

.orderDetails{
    padding:10px;
}
.AmountCalcContainer .order{
    background: #f1f1f1;
    padding:10px;
}
header{
    position: relative;
}
.message{
    position: absolute;
    top: 6px;
    left: 38%;
    background: #6AD05E;
    color: #fff;
    padding: 10px;
    display: none;
}
.addToCart{
    border: 1px solid #2DB2EA;
    color: #2DB2EA;
    border-radius: 5px; 
    outline:none;
}
.addToCart:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.discount{
    position: absolute;
    top: 18%;
    padding: 6px 2px;
    background: #6AD05E;
    color: #fff;
}